.modalShow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c0c0c0;
  opacity: 0.97;
}

.innerContainer {
  max-width: 50%;
  background-color: white;
  border-radius: 6px;
  padding: 50px;
  position: relative;
}

.modalHidden {
  display: none;
}

.canelButton {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
