.table,
.tableBody {
  display: block;
  width: 100%;
}

.tableHead {
  display: none;
}

.tableCell {
  padding: 1.2rem 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.tableCell:nth-child(3),
.tableCell:nth-child(4) {
  padding-top: 0;
}

.tableRow {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  transition: 0.5s all;
}

.tableRow:hover {
  background-color: #f2f2f2;
}

.tableRow:nth-child(odd) {
  background-color: #dcdcdc;
}

.cellTriggerButton {
  border: 0;
  background-color: transparent;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.tableContainer {
  box-shadow: 0 0 0.2rem #00000040, 0 0 1rem #0000000d;
  border-radius: 0.6rem;
  overflow: hidden;
  margin: 5rem auto;
  background-color: #fff;
  max-width: 70rem;
}

.mobileCellTitle {
  font-weight: 600;
}

@media (min-width: 645px) {
  .table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    color: inherit;
  }

  .tableHead,
  .tableRow {
    padding: 0 1rem;
    display: block;
    width: 100%;
  }

  .tableCell {
    display: inline-block;
  }

  .tableCell:nth-child(3),
  .tableCell:nth-child(4) {
    padding-top: 1.2rem;
  }

  .headerRow,
  .tableRow {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .mobileCellTitle {
    display: none;
  }
}
